html,
body {
    /*overflow: hidden;*/
    position: relative;
    height: 100%;
}
/*ШРИФТ */
/** {*/
/*    font-family: "WorkSans" ;*/
/*}*/

/* Указываем box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Убираем внутренние отступы */
/*ul[class],*/
ol[class] {
    padding: 0;
}
/* Фоновый цвет body */
body {
    background-color: #fff;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
/*ul[class],*/
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
/* Apple */
html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;

}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    outline: none;
}
input {
    outline: none;
}

html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}